section#top,
.full-page { height: 100vh; }

.bg1 {
    background: url('../../assets/bg1.jpg') center no-repeat;
    background-size: cover;
}

.bg2 {
    background: url('../../assets/bg2.jpg') center no-repeat;
    background-size: cover;
}

.bg3 {
    background: url('../../assets/bg3.jpg') center no-repeat;
    background-size: cover;
}

.nav-link:hover,
.main-icon:hover {
    text-shadow: 0px 4px 4px rgba(0,0,0,.75);
    transition: text-shadow linear 300ms;
}

header {
    position: fixed;
}

.exterior-links { padding: 5px; }

.exterior-links li {
    width: 30px;
    margin: 0 10px;
}

header { z-index: 1000; }

@media (min-width: 1000px) {
    .full-img {
        object-fit: cover;
    }
}

#bandcamp-follow {
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 168px;
    z-index: 2000;
}

.icon,
.main-icon {
  transition: all linear 300ms;
}

.main-icon {
  filter: brightness(0%) invert(100%);
  max-width: 100px;
}

.main-icon:hover {
  filter: brightness(100%) invert(0%);
}
